<%= form_for([:admin, current_competition, @competitor]) do |f| %>
  <%= render 'form_errors', object: @competitor, label: 'competitor' %>

  <%= form_section 'Personal data' do %>
    <table class="form-table">
      <tr>
        <td><%= f.label :wca, 'WCA ID:' %></td>
        <td><%= f.text_field :wca, autocomplete: "off", data: {enable: ENV.key?("WCA_API_URL"), url: wca_autocomplete_path} %></td>
      </tr>
      <tr>
        <td><%= f.label :first_name, 'First name:' %></td>
        <td><%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td><%= f.label :last_name, 'Last name:' %></td>
        <td><%= f.text_field :last_name %></td>
      </tr>
      <tr>
        <td><%= f.label :email, 'E-mail:' %></td>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td><%= f.label :birthday, 'Birthday:' %>:</td>
        <td>
          <%=
            f.date_select :birthday, {
              start_year: Competitor.valid_birthday_range.first.year,
              end_year: Competitor.valid_birthday_range.last.year,
              order: [:month, :day, :year ]
            },
            {
              class: 'date-select'
            }
          %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :country, 'Country:' %></td>
        <td>
          <%= f.select :country_id, Country.all.map{ |c| [ c.name, c.id ] } %>
          (
            <%= f.check_box :local %>
            <%= f.label :local, current_competition.city_name, class: 'checkbox' %>
          )
        </td>
      </tr>
      <tr>
        <td><%= f.label :male, 'Gender:' %></td>
        <td>
          <%= f.radio_button :male, true %>
          <%= f.label :male, 'male', value: true, class: 'checkbox' %>
          <%= f.radio_button :male, false %>
          <%= f.label :male, 'female', value: false, class: 'checkbox' %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :nametag, 'Nametag:' %></td>
        <td><%= f.text_field :nametag %></td>
      </tr>
    </table>
  <% end %>

  <%= form_section 'Options' do %>
    <p>
      <%= f.label :state, 'State:' %>
      <%= f.select :state, Competitor::STATES, {}, { class: 'small', style: 'display: inline' } %>
    </p>

    <p>
      <%= f.check_box :staff %>
      <%= f.label :staff, 'Staff member', class: 'checkbox' %>
    </p>
    <p>
      <%= f.check_box :confirmation_email_sent %>
      <%= f.label :confirmation_email_sent, 'Confirmation email sent', class: 'checkbox' %>
    </p>
  <% end %>

  <%= form_section 'Financial settings' do %>
    <p>
      <%= f.check_box :free_entrance %>
      <%= f.label :free_entrance, 'Free entrance', class: 'checkbox' %>
      (Reason: <%= f.text_field :free_entrance_reason, class: 'inline' %>)
    </p>

    <p>
      <%= f.check_box :paid %>
      <%= f.label :paid, 'Entrance fee paid', class: 'checkbox' %>
      (Comment: <%= f.text_field :paid_comment, class: 'inline' %>)
    </p>
  <% end %>

  <%= form_section 'Comments' do %>
    <p>
      <%= f.label :user_comment, 'Registration comment:' %><br/>
      <%= f.text_area :user_comment, disabled: true %>
    </p>

    <p>
      <%= f.label :admin_comment, 'Admin comment:' %><br/>
      <%= f.text_area :admin_comment %>
    </p>
  <% end %>

  <%= form_section 'Events' do %>
    <% current_competition.days.each do |day| %>
      <b><%= day.date.to_s(:long) %></b>
      <p>
        <%=
          radio_button "#{f.object_name}[days][#{day.id}]", :status, 'not_registered',
            checked: !@competitor.registered_on?(day),
            onclick: 'jQuery("#day_' + day.id.to_s + '").slideUp("slow");'
        %>
        <%= label "#{f.object_name}[days][#{day.id}]", 'status_not_registered', 'not registered', class: 'checkbox' %>
        <br/>

        <%=
          radio_button "#{f.object_name}[days][#{day.id}]", :status, 'guest',
            checked: @competitor.guest_on?(day),
            onclick: 'jQuery("#day_' + day.id.to_s + '").slideUp("slow");'
        %>
        <%= label "#{f.object_name}[days][#{day.id}]", 'status_guest', 'registered as guest', class: 'checkbox' %>
        <br/>

        <%=
          radio_button "#{f.object_name}[days][#{day.id}]", :status, 'competitor',
            checked: @competitor.competing_on?(day),
            onclick: 'jQuery("#day_' + day.id.to_s + '").slideDown("slow");'
        %>
        <%= label "#{f.object_name}[days][#{day.id}]", 'status_competitor', 'registered as competitor', class: 'checkbox' %>
        <br/>
      </p>

      <div id='day_<%= day.id %>' <% unless @competitor.competing_on?(day) %>style="display: none"<% end %>>
        <table class='default-table registrations'>
          <thead>
            <tr>
              <th>Event</th>
              <th colspan="3">Registration status</th>
            </tr>
          </thead>
          <tbody>
            <% current_competition.events.where(day: day).each do |event| %>
              <tr>
                <td>
                  <%= event.name %>
                </td>
                <td <% if @competitor.event_registration_status(event) == 'not_registered' %>class='highlight'<% end %>>
                  <%=
                    radio_button "#{f.object_name}[days][#{day.id}][events][#{event.id}]",
                      :status,
                      'not_registered',
                      checked: @competitor.event_registration_status(event) == 'not_registered'
                  %>
                  <%=
                    label "#{f.object_name}[days][#{day.id}][events][#{event.id}]",
                      'status_not_registered',
                      'not registered',
                      class: 'checkbox'
                  %>
                </td>
                <td <% if @competitor.event_registration_status(event) == 'waiting' %>class='highlight'<% end %>>
                  <%=
                    radio_button "#{f.object_name}[days][#{day.id}][events][#{event.id}]",
                      :status,
                      'waiting',
                      checked: @competitor.event_registration_status(event) == 'waiting'
                  %>
                  <%=
                    label "#{f.object_name}[days][#{day.id}][events][#{event.id}]",
                      'status_waiting',
                      'waiting',
                      class: 'checkbox'
                  %>
                </td>
                <td <% if @competitor.event_registration_status(event) == 'registered' %>class='highlight'<% end %>>
                  <%=
                    radio_button "#{f.object_name}[days][#{day.id}][events][#{event.id}]",
                      :status,
                      'registered',
                      checked: @competitor.event_registration_status(event) == 'registered'
                  %>
                  <%=
                    label "#{f.object_name}[days][#{day.id}][events][#{event.id}]",
                      'status_registered',
                      'registered',
                      class: 'checkbox'
                  %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>

  <%= submit_button(f) %>
  <%= back_button admin_competition_competitors_path(current_competition) %>
<% end %>
