<% page_title 'Competitors' %>

<p>
<%= link_to 'New Competitor', new_admin_competition_competitor_path %>
</p>

<table class='default-table'>
  <thead>
    <tr>
      <th>Name</th>
      <% current_competition.days.each do |day| %>
        <th><%= day.date.strftime("%a") %></th>
      <% end %>
      <th>Info</th>
      <th>WCA</th>
      <th>Country</th>
      <th>Email</th>
      <th>Birthday (Age)</th>
      <th>Events</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @competitors.each do |competitor| %>
      <tr>
        <td><%= competitor.name %></td>
        <% current_competition.days.each do |day| %>
          <td>
            <% if competitor.competing_on?(day) %>
              c
            <% elsif competitor.guest_on?(day) %>
              g
            <% end %>
          </td>
        <% end %>
        <td></td>
        <td><%= competitor.wca %></td>
        <td><%= competitor.country.name %></td>
        <td><%= competitor.email %></td>
        <td><%= competitor.birthday %></td>
        <td></td>
        <td>
          <%= link_to 'Show', admin_competition_competitor_path(current_competition, competitor) %>
          <%= link_to 'Edit', edit_admin_competition_competitor_path(current_competition, competitor) %>
          <%= link_to 'Destroy', admin_competition_competitor_path(current_competition, competitor), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
