<% page_title 'Competitors' %>

<p>
  <%= link_to 'New competitor', new_admin_competition_competitor_path %><br/>
  <%= link_to 'CSV export', csv_admin_competition_competitors_path %><br/>
  <%= link_to 'Checklist', checklist_admin_competition_competitors_path %><br/>
  <%= link_to 'Nametags', nametags_admin_competition_competitors_path %><br/>
  <%= link_to 'Email addresses', email_addresses_admin_competition_competitors_path %><br/>
</p>

<table class='default-table competitors'>
  <thead>
    <tr>
      <th>Name</th>
      <% current_competition.days.each do |day| %>
        <th><%= day.date.strftime("%a")[0,2] %></th>
      <% end %>
      <th>$</th>
      <th>Info</th>
      <th>WCA</th>
      <th>Country</th>
      <th>Email</th>
      <th>Birthday (Age)</th>
      <th>Events</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @competitors.each do |competitor| %>
      <tr class="<%= competitor.state %>">
        <td>
          <%=
            link_to(
              competitor.name,
              edit_admin_competition_competitor_path(current_competition, competitor)
            )
          %>
        </td>
        <% current_competition.days.each do |day| %>
          <td>
            <% if competitor.competing_on?(day) %>
              <%= tooltip(icon_image_tag('cube.png'), "Competing on #{day.date.strftime("%A")}") %>
            <% elsif competitor.guest_on?(day) %>
              <%= tooltip(icon_image_tag('guest.png'), "Guest on #{day.date.strftime("%A")}") %>
            <% end %>
          </td>
        <% end %>
        <td>
          <% if competitor.free_entrance? %>
            <%=
              tooltip(
                icon_image_tag('free_entrance.png'),
                competitor.free_entrance_reason.presence || "Free entrance"
              )
            %>
          <% elsif competitor.paid? %>
            <%=
              tooltip(
                icon_image_tag('free_entrance.png'),
                competitor.paid_comment.presence || "Paid"
              )
            %>
          <% end %>
        </td>
        <td>
          <% if competitor.male? %>
            <%= icon_image_tag('male.png') %>
          <% else %>
            <%= icon_image_tag('female.png') %>
          <% end %>

          <% if competitor.user_comment.present? %>
            <%= tooltip(icon_image_tag('user_comment.png'), competitor.user_comment) %>
          <% end %>

          <% if competitor.admin_comment.present? %>
            <%= tooltip(icon_image_tag('admin_comment.png'), competitor.admin_comment) %>
          <% end %>

          <% if competitor.staff? %>
            <%= tooltip(icon_image_tag('staff.png'), "Staff") %>
          <% end %>

          <% if competitor.nametag.present? %>
            <%= tooltip(icon_image_tag('nametag.png'), competitor.nametag) %>
          <% end %>

          <% if competitor.birthday_on_competition? %>
            <%= tooltip(
              icon_image_tag('birthday.png'),
              "Birthday on #{competitor.birthday_on_competition.date.strftime("%A")}"
              )
            %>
          <% end %>

          <% if competition_number = @anniversaries[competitor.wca ] %>
            <%= tooltip(icon_image_tag('anniversary.png'), "#{competition_number.ordinalize} competition") %>
          <% end %>

          <% unless competitor.event_registrations.select(&:waiting).empty? %>
            <%=
              tooltip(
                icon_image_tag('waiting.png'),
                "<b>On waiting list for:</b><br/>" +
                  competitor.event_registrations.waiting.map(&:event).map(&:name).join("<br>\n")
              )
            %>
          <% end %>

          <% if current_competition.city_name && competitor.local? %>
            <%= tooltip(icon_image_tag('local.png'), "#{competitor.name} lives in #{current_competition.city_name}") %>
          <% end %>
        </td>
        <td><%= competitor.wca && link_to(competitor.wca, competitor.wca_url) %></td>
        <td><%= competitor.country.name %></td>
        <td><%= mail_to(competitor.email) %></td>
        <td><%= competitor.birthday %> (<%= competitor.age %>)</td>
        <td>
          <% counts = competitor.event_registration_counts(true) %>
          <%=
            tooltip(
              "#{counts.join("+")}=#{counts.reduce(:+)}",
              events_by_day_list(competitor)
            )
          %>
        </td>
        <td>
          <%=
            delete_button(
              admin_competition_competitor_path(current_competition, competitor),
              method: :delete,
              data: { confirm: 'Are you sure?' }
            )
          %>

          <% if competitor.state != 'confirmed' %>
            <%=
              tooltip(
                link_to(
                  image_tag('active.png'),
                  confirm_admin_competition_competitor_path(current_competition, competitor),
                  method: :patch
                ),
                'Confirm'
              )
            %>
          <% else %>
            <%=
              tooltip(
                link_to(
                  image_tag('inactive.png'),
                  cancel_admin_competition_competitor_path(current_competition, competitor),
                  method: :patch
                ),
                'Cancel'
              )
            %>
          <% end %>

          <%=
            tooltip(
              link_to(
                image_tag('mail.png'),
                new_email_admin_competition_competitor_path(current_competition, competitor)
              ),
              'Send email'
            )
          %>

          <% unless competitor.confirmation_email_sent? %>
            <%=
              tooltip(
                link_to(
                  image_tag('mail_and_confirm.png'),
                  new_email_admin_competition_competitor_path(
                    current_competition,
                    competitor,
                    activate: 'activate'
                  )
                ),
                'Send email and mark competitor as confirmed'
              )
            %>
          <% end %>

          <% unless competitor.paid? || competitor.free_entrance? %>
            <%=
              tooltip(
                link_to(
                  image_tag('free_entrance.png'),
                  mark_as_paid_admin_competition_competitor_path(current_competition, competitor),
                  method: :patch
                ),
                'Mark competitor as paid'
              )
            %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
