<% @competitors.each_slice(8) do |competitors_for_page| %>
  <table>
    <% competitors_for_page.each_slice(2) do |competitors_for_row| %>
      <tr>
        <% competitors_for_row.each do |competitor| %>
          <td>
            <span class="competition"><%= current_competition.name %></span>

            <div class="namebox">
              <span class="name"><%= competitor.name %></span>
              <% if competitor.staff? %>
                <span class="staff">TEAM</span>
              <% end %>
            </div>

            <span class="country">
              <%= competitor.country.name %>
              <% if current_competition.city_name && competitor.local %>
                (<%= current_competition.city_name %>)
              <% end %>
            </span>

            <% if competitor.nametag %>
              <span class="extra">
                <%= competitor.nametag.html_safe %>
              </span>
            <% end %>

            <span class="wca-info">
              <% if competitor.competition_count > 0 %>
                <%= competitor.competition_count.ordinalize %> competition,
                <% result = competitor.best_333_result %>
                <% if result.single? && result.average? %>
                  <b>3x3:</b> <%= format_time competitor.best_333_result.average %> (<%= format_time competitor.best_333_result.single %>)
                <% end %>
              <% end %>
            </span>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <hr>
<% end %>
