<% page_title @competitor.name %>

<%= render 'notice' %>

<p>
  <strong>First name:</strong>
  <%= @competitor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @competitor.last_name %>
</p>

<p>
  <strong>Wca:</strong>
  <%= @competitor.wca %>
</p>

<p>
  <strong>Email:</strong>
  <%= @competitor.email %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @competitor.birthday %>
</p>

<p>
  <strong>Country:</strong>
  <%= @competitor.country_id %>
</p>

<p>
  <strong>Local:</strong>
  <%= @competitor.local %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @competitor.staff %>
</p>

<p>
  <strong>User comment:</strong>
  <%= @competitor.user_comment %>
</p>

<p>
  <strong>Admin comment:</strong>
  <%= @competitor.admin_comment %>
</p>

<p>
  <strong>Free entrance:</strong>
  <%= @competitor.free_entrance %>
</p>

<p>
  <strong>Free entrance reason:</strong>
  <%= @competitor.free_entrance_reason %>
</p>

<p>
  <strong>State:</strong>
  <%= @competitor.state %>
</p>

<p>
  <strong>Confirmation email sent:</strong>
  <%= @competitor.confirmation_email_sent %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @competitor.paid %>
</p>

<p>
  <strong>Paid comment:</strong>
  <%= @competitor.paid_comment %>
</p>

<%= link_to 'Edit', edit_admin_competitor_path(@competitor) %> |
<%= link_to 'Back', admin_competition_competitors_path(current_competition) %>
