<%= form_for([:admin, current_competition, @event]) do |f| %>
  <%= render 'form_errors', object: @event, label: 'event' %>

  <%= form_section 'Standard WCA Events' do %>
    TODO
  <% end %>

  <%= form_section 'Name' do %>
    <table class="form-table">
      <tr>
        <td><%= f.label :name_short, 'Short:' %></td>
        <td><%= f.text_field :name_short %></td>
      </tr>
      <tr>
        <td><%= f.label :name, 'Long:' %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= f.label :handle, 'Handle:' %></td>
        <td>
          <%= f.text_field :handle %>
          <%= help_tooltip %q{
            If this is an official WCA event, you should not change this value but use
            the suggested default value (from the "Load" button above).
          } %>
        </td>
      </tr>
    </table>
  <% end %>

  <%= form_section 'Time' do %>
    <table class="form-table">
      <tr>
        <td><%= f.label :day, 'Day:' %></td>
        <td><%= f.select :day_id, current_competition.days.order(:date).map{ |day| [ day.date.to_s(:long), day.id ] } %></td>
      </tr>
      <tr>
        <td><%= f.label :start_time, "Start:" %></td>
        <td><%= f.time_select :start_time, { minute_step: 5 }, { class: 'time-select' } %></td>
      </tr>
      <tr>
        <td><%= f.label :length_in_minutes, "Length:" %></td>
        <td><%= f.select :length_in_minutes, [["", nil]] + options_for_minutes %></td>
      </tr>
    </table>
  <% end %>

  <%= form_section 'Options' do %>
    <table class="form-table">
      <tr>
        <td><%= f.label :round, 'Round:' %></td>
        <td><%= f.text_field :round %></td>
      </tr>
      <tr>
        <td><%= f.label :timelimit, 'Time limit:' %></td>
        <td><%= f.text_field :timelimit %></td>
      </tr>
      <tr>
        <td><%= f.label :format, 'Format:' %></td>
        <td><%= f.text_field :format %></td>
      </tr>
      <tr>
        <td><%= f.label :proceed, 'Proceed:' %></td>
        <td><%= f.text_field :proceed %></td>
      </tr>
      <tr>
        <td><%= f.label :max_number_of_registrations, 'Max. registrations:' %></td>
        <td>
          <%= f.select :max_number_of_registrations, [["Unlimited", nil]] + (5..500).step(5).to_a %>
          <%= help_tooltip %q{
            This field does not influence the registration status of events.
            If the maximum number is reached, people will still be able to register.
            This is purely informative: This number will appear in the schedule and
            in overviews/statistics.
          } %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :state, 'State:' %></td>
        <td>
          <%= f.select :state, Event::STATES.to_a.map(&:reverse) %>
          <%= help_tooltip %q{
            TODO
          } %>
        </td>
      </tr>
    </table>
  <% end %>

  <%= submit_button(f) %>
  <%= cancel_button admin_competition_events_path(current_competition) %>
<% end %>
