<h2>
  <%= I18n.l(day.date, format: :schedule) %>
  <%=
    delete_button(
      destroy_day_admin_competition_events_path(current_competition, day.id),
      method: :delete,
      data: { confirm: 'Are you sure?' }
    )
  %>
</h2>

<table class='default-table events'>
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Event</th>
      <th>Round</th>
      <th>Time-limit</th>
      <th>Format</th>
      <th>Registrations</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @events.select{ |event| event.day_id == day.id }.sort_by(&:start_time).each do |event| %>
      <tr class="<%= "not_for_registration" unless event.for_registration? %>">
        <td><%= event.start_time.strftime("%H:%M") %></td>
        <td><%= event.end_time.try!(:strftime, "%H:%M") %></td>
        <td>
          <%= event.name_short %>
          <% if event.name && event.name_short != event.name %>
            <br/>
            <small><%= event.name %></small>
          <% end %>
        </td>
        <td><%= event.round %></td>
        <td><%= event.timelimit %></td>
        <td>
          <%= event.format %>
          <% if event.proceed.present? %>
            <br/>
            <small><%= event.proceed %> proceed</small>
          <% end %>
        </td>
        <td>
          <% if event.for_registration? %>
            <%= event.registrations.size %> (<%= event.registrations.select(&:waiting).size %> waiting)
          <% end %>
        </td>
        <td>
          <%= edit_button(edit_admin_competition_event_path(current_competition, event)) %>
          <%=
            delete_button(
              admin_competition_event_path(current_competition, event),
              method: :delete,
              data: { confirm: 'Are you sure?' }
            )
          %>
          <% if event.for_registration? %>
            <%= show_button('Show registrations', admin_competition_event_event_registrations_path(current_competition, event)) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
