<h2><%= day.date.to_s(:long) %></h2>

<table class='default-table'>
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Event</th>
      <th>Round</th>
      <th>Time-limit</th>
      <th>Format</th>
      <th>Registrations</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.where(day: day).each do |event| %>
      <tr>
        <td><%= event.start_time.strftime("%H:%M") %></td>
        <td><%= event.end_time.strftime("%H:%M") %></td>
        <td>
          <%= event.name %>
          <% if event.name_short && event.name_short != event.name %>
            <br/>
            <small><%= event.name_short %></small>
          <% end %>
        </td>
        <td><%= event.round %></td>
        <td><%= event.timelimit %></td>
        <td><%= event.format %></td>
        <td>todo</td>
        <td><%= link_to 'Edit', edit_admin_competition_event_path(current_competition, event) %></td>
        <td><%= link_to 'Destroy', admin_competition_event_path(current_competition, event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
