<h2><%= I18n.l(day.date, format: :schedule) %></h2>

<table class='default-table events'>
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Event</th>
      <th>Round</th>
      <th>Time-limit</th>
      <th>Format</th>
      <th>Registrations</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @events.where(day: day).each do |event| %>
      <tr class="<%= "not_for_registration" if event.for_registration? %>">
        <td><%= event.start_time.strftime("%H:%M") %></td>
        <td><%= event.end_time.try!(:strftime, "%H:%M") %></td>
        <td>
          <%= event.name %>
          <% if event.name_short && event.name_short != event.name %>
            <br/>
            <small><%= event.name_short %></small>
          <% end %>
        </td>
        <td><%= event.round %></td>
        <td><%= event.timelimit %></td>
        <td><%= event.format %></td>
        <td><%= event.registrations.size %> (<%= event.registrations.select(&:waiting).size %> waiting)</td>
        <td>
          <%= edit_button(edit_admin_competition_event_path(current_competition, event)) %>
          <%=
            delete_button(
              admin_competition_event_path(current_competition, event),
              method: :delete,
              data: { confirm: 'Are you sure?' }
            )
          %>
          <%= show_button('Show registrations', admin_competition_event_event_registrations_path(current_competition, event)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
