<%= render 'notice' %>

<p>
  <strong>Day:</strong>
  <%= @event.day.date %>
</p>

<p>
  <strong>Handle:</strong>
  <%= @event.handle %>
</p>

<p>
  <strong>Name short:</strong>
  <%= @event.name_short %>
</p>

<p>
  <strong>Name long:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>Length in minutes:</strong>
  <%= @event.length_in_minutes %>
</p>

<p>
  <strong>Max number of registrations:</strong>
  <%= @event.max_number_of_registrations %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<%= link_to 'Edit', edit_admin_competition_event_path(current_competition, @event) %> |
<%= link_to 'Back', admin_competition_events_path(current_competition) %>
