<%= form_for([:admin, @competition, @news]) do |f| %>
  <%= render 'form_errors', object: @news, label: 'news' %>

  <%= form_section 'Settings' do %>
    <table class="form-table">
      <tr>
        <td><%= f.label :time, 'Time:' %></td>
        <td><%= f.datetime_select :time, { minute_step: 5 }, { class: 'time-select' } %></td>
      </tr>
      <tr>
        <td><%= f.label :locale_id, 'Language:' %></td>
        <td><%= f.select :locale_id, current_competition.locales.map{ |locale| [ locale.name, locale.id ] } %></td>
      </tr>
    </table>
  <% end %>

  <%= form_section 'Text' do %>
    <%= text_editor(f, :text) %>
  <% end %>

  <%= submit_button(f) %>
  <%= cancel_button(admin_competition_news_index_path(current_competition)) %>
<% end %>
