<% page_title 'News' %>

<p><%= link_to 'New news item', new_admin_competition_news_path %></p>

<table class='default-table'>
  <thead>
    <tr>
      <th>Time</th>
      <th>Language</th>
      <th>Text</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= news.time.to_s(:short) %></td>
        <td><%= news.locale.name %></td>
        <td><%= truncate(news.text, length: 50, separator: ' ') %></td>
        <td class='actions'>
          <%= edit_button edit_admin_competition_news_path(current_competition, news) %>
          <%=
            delete_button(
              admin_competition_news_path(current_competition, news),
              method: :delete,
              data: { confirm: 'Are you sure?' }
            )
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
