<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @news.time %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @news.locale %>
</p>

<p>
  <strong>Text:</strong>
  <%= @news.text %>
</p>

<%= link_to 'Edit', edit_admin_news_path(@news) %> |
<%= link_to 'Back', admin_competition_news_index_path(current_competition) %>
