<div class="panel panel-default">
  <div class="panel-heading">
    Financial overview
  </div>

  <div class="panel-body">
    <table class='default-table financial-overview'>
      <tr>
        <th></th>
        <% current_competition.days.each do |day| %>
          <th><%= l(day.date, format: :day_only) %></th>
        <% end %>
        <th>&sum;</th>
      </tr>

      <tr>
        <th>Number of competitors</th>
        <% current_competition.days.each do |day| %>
          <td><%= @counter.competing_competitors_count(day) %></td>
        <% end %>
        <td class="line-to-the-left"><%= @counter.competing_competitors_count(*current_competition.days) %></td>
      </tr>

      <tr class="line-below">
        <th>Number of guests</th>
        <% current_competition.days.each do |day| %>
          <td><%= @counter.guest_count(day) %></td>
        <% end %>
        <td class="line-to-the-left"><%= @counter.guest_count(*current_competition.days) %></td>
      </tr>

      <% @financials.each do |pricing_model_handle, service| %>
        <tr <%= pricing_model_handle == current_competition.pricing_model ? "class=\"current-model\"".html_safe : "" %>>
          <th><%= Competition::PRICING_MODELS[pricing_model_handle] %></th>
          <% current_competition.days.each do |day| %>
            <td><%= amount = service.entrance_fee(day); amount && amount_with_currency(amount, current_competition.currency) %></td>
          <% end %>
          <td class="line-to-the-left"><%= amount_with_currency(service.entrance_fee_sum, current_competition.currency) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
