<div class="panel panel-default">
  <div class="panel-heading">
    Financial overview
  </div>

  <div class="panel-body">
    <table class='default-table financial-overview'>
      <tr>
        <th></th>
        <th colspan="2">Competitors</th>
        <th colspan="2">Guests</th>
        <th colspan="2">Total</th>
      </tr>
      <tr>
        <th></th>
        <th>#</th>
        <th>$</th>
        <th>#</th>
        <th>$</th>
        <th>#</th>
        <th>$</th>
      </tr>
      <% current_competition.days.each do |day| %>
        <tr>
          <th><%= l(day.date, format: :day_only) %></th>
          <td><%= num_competitors = @financials.competing_competitors_count(day) %></td>
          <td><%= money_competitors = @financials.entrance_fee_from_competing_competitors(day) %></td>
          <td><%= num_guests = @financials.guest_count(day) %></td>
          <td><%= money_guests = @financials.entrance_fee_from_guests(day) %></td>
          <td><%= num_guests + num_competitors %></td>
          <td><%= money_guests + money_competitors %></td>
        </tr>
      <% end %>
      <tr class="sum">
        <th>&sum;</th>
        <td></td>
        <td><%= @financials.total_entrance_fee_from_competing_competitors %></td>
        <td></td>
        <td><%= @financials.total_entrance_fee_from_guests %></td>
        <td><%= @financials.total_count %></td>
        <td class="total-money"><%= @financials.total_entrance_fee %></td>
      </tr>
    </table>
  </div>
</div>
