<%= form_for([:admin, @competition, @theme_file]) do |f| %>
  <%= render 'form_errors', object: @theme_file, label: 'theme file' %>

  <%= form_section 'Settings' do %>
    <table class="form-table">
      <tr>
        <td><%= f.label :filename %></td>
        <td><%= f.text_field :filename %></td>
      </tr>
    </table>
  <% end %>

  <%= form_section 'Text' do %>
    <%= f.text_area :content  %>
  <% end %>

  <%= f.button 'Save', type: 'submit' %>
  <%= link_to 'Cancel', admin_competition_theme_files_path(current_competition), { class: 'button' } %>
<% end %>
