<% page_title 'Theme' %>

<%= render 'notice' %>

<ul>
  <li><%= link_to 'New text file', new_admin_competition_theme_file_path %></li>
  <li><%= link_to 'Upload image file', new_image_admin_competition_theme_files_path %></li>
</ul>

<table class='default-table'>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Type</th>
      <th>Size</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @theme_files.each do |theme_file| %>
      <tr>
        <td>
          <% if theme_file.image? %>
            <%=
              link_to(
                theme_file.filename,
                show_image_admin_competition_theme_file_path(current_competition, theme_file)
              )
            %>
          <% else %>
            <%=
              link_to(
                theme_file.filename,
                edit_admin_competition_theme_file_path(current_competition, theme_file)
              )
            %>
          <% end %>
        </td>
        <td><%= theme_file.type %></td>
        <td><%= theme_file.size %> bytes</td>
        <td class='actions'>
          <%=
            delete_button(
              admin_competition_theme_file_path(current_competition, theme_file),
              method: :delete,
              data: { confirm: 'Are you sure?' }
            )
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
