<% page_title 'Load theme' %>

<% if (@themes.size + @competitions.size) > 0 %>
  <p><b>Note:</b> Loading a theme will delete all of the existing theme files of this <%= @theme ? "theme" : "competition" %>.</p>
<% else %>
  There are no themes available to load right now.
<% end %>

<%= form_tag(load_files_admin_theme_files_path) do %>
  <table class='form-table'>
    <tr>
      <td style="width:17em">Load default theme:</td>
      <td><%= select_tag 'from[theme_id]', options_for_select(@themes), disabled: @themes.size == 0, class: 'inline' %></td>
      <td><%= submit_tag "Load", class: 'small', disabled: @themes.size == 0, name: 'from[load_theme]' %></td>
    </tr>
    <tr>
      <td style="width: 17em; ">Load from other competition:</td>
      <td><%= select_tag 'from[competition_id]', options_for_select(@competitions), disabled: @competitions.size == 0, class: 'inline' %></td>
      <td><%= submit_tag "Load", class: 'small', disabled: @competitions.size == 0, name: 'from[load_competition]' %></td>
    </tr>
  </table>
<% end %>
