<% if flash[:notice] %>
  <div class="flash">
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="flash">
    <div class="error">
      <%= flash[:error] %>
    </div>
  </div>
<% end %>

<% if !@competition.registration_open? || @competition.already_over? %>
  <div class="flash">
    <div class="warning">
      <%= t('registration.flash_closed') %>
    </div>
  </div>
<% end %>

<% if @competitor.errors.any? %>
  <div class="registration_errors">
    <div class="registration_errors_heading">
      <%= t('registration.error_count_failed_to_save', count: @competitor.errors.count) %>
    </div>

    <div class="registration_errors_body">
      <ul>
        <% @competitor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%=
  form_for(
    @competitor,
    url: competition_area_competitor_create_path,
    html: {
      class: 'registration_form',
      id: 'registration_form'
    }
  ) do |f|
%>
  <%= hidden_field_tag :theme_file, @theme_file.filename %>
  <%= hidden_field_tag :return_to_path, @return_to_path %>

  <table class='registration_form'>
    <tr>
      <td><%= f.label :wca %></td>
      <td>
        <%= f.text_field :wca, autocomplete: "off", data: { enable: Cubecomp::Application.config.wca_api_url.present?, url: wca_autocomplete_path } %>
        <br/>
        <small>(<%= t('registration.wca_id_first_time') %>)</small>
      </td>
    </tr>
    <tr>
      <td><%= f.label :first_name %></td>
      <td><%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <td><%= f.label :last_name %></td>
      <td><%= f.text_field :last_name %></td>
    </tr>
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td><%= f.label :birthday %></td>
      <td>
        <%=
          f.date_select :birthday, {
            start_year: Competitor.valid_birthday_range.first.year,
            end_year: Competitor.valid_birthday_range.last.year,
            include_blank: true
          },
          {
            class: 'date-select'
          }
        %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :country %></td>
      <td>
        <%= f.select :country_id, [["", nil]] + Country.all.map{ |c| [ c.name, c.id ] }, selected: @competition.country_id %><br/>
        <%= f.check_box :local %>
        <%= f.label :local, "#{t('registration.i_live_in', city: @competition.city_name)}", class: 'checkbox' %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :male %></td>
      <td>
        <%= f.radio_button :male, true %>
        <%= f.label :male, t("misc.male"), value: true, class: 'checkbox' %>
        <%= f.radio_button :male, false %>
        <%= f.label :male, t("misc.female"), value: false, class: 'checkbox' %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :user_comment %></td>
      <td>
        <p>
          <%= f.text_area :user_comment %>
        </p>
      </td>
    </tr>
    <tr>
      <td><%= f.label :events %></td>
      <td>
        <% @days.each do |day| %>
          <b><%= l(day.date, format: :schedule) %></b>

          <p>
            <%=
              radio_button "#{f.object_name}[days][#{day.id}]", :status, 'not_registered',
                checked: true,
                onclick: 'jQuery("#day_' + day.id.to_s + '").slideUp("slow");'
            %>
            <%= label "#{f.object_name}[days][#{day.id}]", 'status_not_registered', t('registration.register_not_coming') %>
            <br/>

            <%=
              radio_button "#{f.object_name}[days][#{day.id}]", :status, 'guest',
                onclick: 'jQuery("#day_' + day.id.to_s + '").slideUp("slow");'
            %>
            <%= label "#{f.object_name}[days][#{day.id}]", 'status_guest', "#{t('registration.register_as_guest')}" + (@competition.currency.present? ? " (#{amount_with_currency(day.entrance_fee_guests, @competition.currency)})" : "") %>
            <br/>

            <%=
              radio_button "#{f.object_name}[days][#{day.id}]", :status, 'competitor',
                onclick: 'jQuery("#day_' + day.id.to_s + '").slideDown("slow");'
            %>
            <%= label "#{f.object_name}[days][#{day.id}]", 'status_competitor', "#{t('registration.register_as_competitor')}" + (@competition.currency.present? ? " (#{amount_with_currency(day.entrance_fee_competitors, @competition.currency)})" : "") %>
          </p>

          <div id='day_<%= day.id %>' style="display: none" class="event-selection">
            <% day.events.select(&:for_registration?).sort_by(&:start_time).each do |event| %>
              <% checked_value = event.state == 'open_with_waiting_list' ? 'waiting' : 'registered' %>
              <%= check_box "#{f.object_name}[days][#{day.id}][events][#{event.id}]", :status, { disabled: event.state == 'registration_closed' }, checked_value, 'not_registered' %>

              <%
                event_label =
                  case event.state
                  when 'open_for_registration'
                    event.name || event.name_short
                  when 'open_with_waiting_list'
                    "#{event.name} (#{t('registration.waiting_list')})"
                  else
                    "#{event.name} (#{t('registration.closed')})"
                  end
               %>

              <%= label "#{f.object_name}[days][#{day.id}][events][#{event.id}]", :status, event_label %>
              <br/>
            <% end %>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="register">
        <%= f.submit t('registration.submit'), disabled: (!@competition.registration_open? || @competition.already_over?) %>
      </td>
    </tr>
  </table>
<% end %>
