<% show_max_column = @day.events.any?{ |event| event.max_number_of_registrations.present? } %>

<h3><%= l(@day.date, format: :schedule) %></h3>

<table class="schedule">
  <tr>
    <th><%= t('schedule.start') %></th>
    <th><%= t('schedule.stop') %></th>
    <th><%= t('schedule.event') %></th>
    <th><%= t('schedule.round') %></th>
    <th><%= t('schedule.timelimit') %></th>
    <th><%= t('schedule.format') %></th>
    <% if show_max_column %>
      <th><%= t('schedule.max') %></th>
    <% end %>
  </tr>

  <% @day.events.sort_by(&:start_time).each do |event| %>
    <tr>
      <td><%= event.start_time ? event.start_time.strftime("%H:%M") : "&nbsp;".html_safe %></td>
      <td><%= event.end_time ? event.end_time.strftime("%H:%M") : "&nbsp;".html_safe %></td>
      <td><%= event.name %></td>
      <td><%= event.round %></td>
      <td><%= event.timelimit %></td>
      <td>
        <%= event.format %>
        <% if event.proceed %>
          (<small><%= event.proceed %> proceed</small>)
        <% end %>
      </td>
      <% if show_max_column %>
        <td><%= event.max_number_of_registrations %>
      <% end %>
    </tr>
  <% end %>
</table>
