<script type='text/javascript'>
  var templateFetcher = new EmailTemplateFetcher('<%= j(render_email_admin_competition_competitor_path(current_competition, @competitor, format: :json)) %>')
</script>

<% if @activate %>
  <% page_title "Confirmation email for #{@competitor.name}" %>
<% else %>
  <% page_title "Email for #{@competitor.name}" %>
<% end %>

<%= form_for(@email, url: create_email_admin_competition_competitor_path(current_competition, @competitor)) do |f| %>
  <%= render 'form_errors', object: @email, label: 'email' %>

  <% if current_competition.email_templates.exists? %>
    <%= form_section 'Template' do %>
      <table class="form-table">
        <tr>
          <td><label>Template:</label></td>
          <td>
            <select onchange="templateFetcher.fetch(this.value)">
              <option></option>
              <%=
                options_for_select(current_competition.email_templates.map{ |template|
                  [ template.name, template.id ]
                })
              %>
            </select>
          </td>
        </tr>
      </table>
    <% end %>
  <% end %>

  <%= form_section 'Settings' do %>
    <table class="form-table">
      <tr>
        <td><label>From:</label></td>
        <td><%= @email.from_name %> (<%= @email.from_email %>)</td>
      </tr>
      <tr>
        <td><label>To:</label></td>
        <td><%= @email.to_name %> (<%= @email.to_email %>)</td>
      </tr>
      <% if @email.cc_email %>
        <tr>
          <td><%= f.label :cc_email, 'CC:' %></td>
          <td><%= @email.cc_name %> (<%= @email.cc_email %>)</td>
        </tr>
      <% end %>
      <tr>
        <td><%= f.label :subject %></td>
        <td><%= f.text_field :subject %></td>
      </tr>
    </table>
  <% end %>

  <%= form_section 'Text' do %>
    <%= text_editor(f, :content, { lineWrapping: true }) %>
    <script>
      templateFetcher.setEditor(textEditor);
    </script>
  <% end %>

  <%= form_section 'Competitor' do %>
    <table class="form-table">
      <tr>
        <td><label>Birthday:</label></td>
        <td><%= @competitor.birthday %> (<%= @competitor.age %>)</td>
      </tr>
      <tr>
        <td><label>WCA ID:</label></td>
        <td><%= @competitor.wca %></td>
      </tr>
      <tr>
        <td><label>Country:</label></td>
        <td><%= @competitor.country.name %> <% if @competitor.local %>(<%= @competition.city_name %>)<% end %></td>
      </tr>
      <tr>
        <td><label>Gender:</label></td>
        <td><%= @competitor.male? ? "male" : "female" %></td>
      </tr>
      <tr>
        <td><label>Comment:</label></td>
        <td><%= @competitor.user_comment %></td>
      </tr>
      <tr>
        <td><label>Events:</label></td>
        <td>
          <% counts = @competitor.event_registration_counts(true) %>
          <%=
            tooltip(
              "#{counts.join("+")}=#{counts.reduce(:+)}",
              events_by_day_list(@competitor)
            )
          %>
        </td>
      </tr>
    </table>
  <% end %>

  <% if @activate %>
    <input type="hidden" name="activate" value="1" />
    <%= submit_button(f, 'Send email and confirm competitor') %>
  <% else %>
    <%= submit_button(f, 'Send email') %>
  <% end %>

  <%= back_button(admin_competition_competitors_path) %>
<% end %>
