<%= form_for([:admin, user_for_form(@user)]) do |f| %>
  <%= render 'form_errors', object: @user, label: 'user' %>

  <%= form_section 'Personal' do %>
    <table class="form-table">
      <tr>
        <td><%= f.label :email, 'Email:' %></td>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td><%= f.label :first_name, 'First name:' %></td>
        <td><%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td><%= f.label :last_name, 'Last name:' %></td>
        <td><%= f.text_field :last_name %></td>
      </tr>
      <tr>
        <td><%= f.label :wca, 'WCA ID:' %></td>
        <td><%= f.text_field :wca %></td>
      </tr>
      <tr>
        <td><%= f.label :password, 'Password:' %></td>
        <td><%= f.password_field :password, placeholder: 'Enter new password' %></td>
      </tr>
      <tr>
        <td><%= f.label :password_confirmation, 'Password confirmation:' %></td>
        <td><%= f.password_field :password_confirmation, placeholder: 'Enter new password again' %></td>
      </tr>
      <% unless current_user.policy.change_user_password_without_old_password?(@user) %>
        <tr>
          <td><%= f.label :old_password, 'Old password:' %></td>
          <td><%= f.password_field :old_password, placeholder: 'Required for changing password or email' %></td>
        </tr>
      <% end %>
      <tr>
        <td><%= f.label :address, 'Address:' %></td>
        <td><%= f.text_area :address %></td>
      </tr>
      <% if current_user.policy.disable_user?(@user) %>
        <tr>
          <td><%= f.label :active, 'Allowed to log in:' %></td>
          <td>
            <%= f.radio_button :active, true%>
            <%= f.label :active, 'yes', value: true, class: 'checkbox' %>
            &nbsp;
            <%= f.radio_button :active, false %>
            <%= f.label :active, 'no', value: false, class: 'checkbox' %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <%= form_section 'User permissions' do %>
    <table class="form-table">
      <tr>
        <td><%= f.label :permission_level, 'Permission level:'%></td>
        <td>
          <%= f.select :permission_level, options_for_permission_levels(@user) %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :delegate, 'WCA delegate:' %></td>
        <td>
          <% delegate_radio_disabled = !current_user.policy.change_delegate_flag?(@user) %>

          <%= f.radio_button :delegate, true, disabled: delegate_radio_disabled %>
          <%= f.label :delegate, 'yes', value: true, class: 'checkbox' %>
          &nbsp;
          <%= f.radio_button :delegate, false, disabled: delegate_radio_disabled %>
          <%= f.label :delegate, 'no', value: false, class: 'checkbox' %>
        </td>
      </tr>
    </table>
  <% end %>

  <% if @user.permissions.any?{ |p| current_user.policy.change_competition_permissions?(p.competition) } %>
    <%= form_section 'Competition staff permissions' do %>
      <%= f.fields_for :permissions, @user.permissions.sort_by{ |p| p.competition.name } do |ff| %>
        <% if current_user.policy.change_competition_permissions?(ff.object.competition) %>
          <%= ff.hidden_field :competition_id %>
          <%= ff.check_box :_destroy, { checked: !ff.object.marked_for_destruction? }, '0', '1' %>
          <%= ff.label :_destroy, ff.object.competition.name, class: 'checkbox' %><br/>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if @user.persisted? && @user.delegate && !@delegating_competitions.empty? %>
    <%= form_section 'Delegacies' do %>
      <ul>
        <% @delegating_competitions.each do |competition| %>
          <li><%= link_to competition.name, edit_admin_competition_path(competition) %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <% if @user.persisted? && !@owned_competitions.empty? %>
    <%= form_section 'Owned competitions' do %>
      <ul>
        <% @owned_competitions.each do |competition| %>
          <li><%= link_to competition.name, edit_admin_competition_path(competition) %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <%= f.button 'Save', type: 'submit' %>
  <%= back_button(admin_users_path) unless @user.persisted? %>
<% end %>
