<%= form_for([:admin, user_for_form(@user)]) do |f| %>
  <%= render 'form_errors', object: @user, label: 'user' %>

  <%= form_section 'Personal' do %>
    <table class="form-table">
      <tr>
        <td><%= f.label :email, 'Email:' %></td>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td><%= f.label :first_name, 'First name:' %></td>
        <td><%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td><%= f.label :last_name, 'Last name:' %></td>
        <td><%= f.text_field :last_name %></td>
      </tr>
      <tr>
        <td><%= f.label :password, 'Password:' %></td>
        <td><%= f.password_field :password, placeholder: 'Enter new password' %></td>
      </tr>
      <tr>
        <td><%= f.label :password_confirmation, 'Password confirmation:' %></td>
        <td><%= f.password_field :password_confirmation, placeholder: 'Enter new password again' %></td>
      </tr>
      <tr>
        <td><%= f.label :address, 'Address:' %></td>
        <td><%= f.text_area :address %></td>
      </tr>
    </table>
  <% end %>

  <%= form_section 'User permissions' do %>
    <table class="form-table">
      <tr>
        <td><%= f.label :permission_level, 'Permission level:'%></td>
        <td>
          <%= f.select :permission_level, options_for_permission_levels(@user) %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :delegate, 'WCA delegate:' %></td>
        <td>
          <% delegate_radio_disabled = !current_user.policy.change_delegate_flag?(@user) %>
          <%= f.radio_button :delegate, true, disabled: delegate_radio_disabled %> yes &nbsp;
          <%= f.radio_button :delegate, false, disabled: delegate_radio_disabled %> no
        </td>
      </tr>
    </table>
  <% end %>

  <% if current_user.policy.change_competition_permissions? %>
    <%= form_section 'Competition staff permissions' do %>
      <%= f.fields_for :permissions, @user.permissions.sort_by{ |p| p.competition.name } do |ff| %>
        <%= ff.hidden_field :competition_id %>
        <%= ff.check_box :_destroy, { checked: ff.object.persisted? }, '0', '1' %>
        <%= ff.object.competition.name %><br/>
      <% end %>
    <% end %>
  <% end %>

  <% if @user.persisted? && @user.delegate && @delegating_competitions.size > 0 %>
    <%= form_section 'Delegacies' do %>
      <ul>
        <% @delegating_competitions.each do |competition| %>
          <li><%= link_to competition.name, edit_admin_competition_path(competition) %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <% if @user.persisted? && @owned_competitions.size > 0 %>
    <%= form_section 'Owned competitions' do %>
      <ul>
        <% @owned_competitions.each do |competition| %>
          <li><%= link_to competition.name, edit_admin_competition_path(competition) %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <%= f.button 'Save', type: 'submit' %>
  <%= cancel_button(admin_users_path) unless @user.persisted? %>
<% end %>
