<%= form_for([:admin, @user]) do |f| %>
  <%= render 'form_errors', object: @user, label: 'user' %>

  <div class="panel panel-default">
    <div class="panel-heading">
      Personal
    </div>
    <div class="panel-body">
      <table class="form-table">
        <tr>
          <td><%= f.label :email, 'Email:' %></td>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td><%= f.label :first_name, 'First name:' %></td>
          <td><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <td><%= f.label :last_name, 'Last name:' %></td>
          <td><%= f.text_field :last_name %></td>
        </tr>
        <tr>
          <td><%= f.label :password, 'Password:' %></td>
          <td><%= f.password_field :password, placeholder: 'Enter new password' %></td>
        </tr>
        <tr>
          <td><%= f.label :password_confirmation, 'Password confirmation:' %></td>
          <td><%= f.password_field :password_confirmation, placeholder: 'Enter new password again' %></td>
        </tr>
      </table>
    </div>
  </div>

  <% if current_user.policy.edit_users? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        User permissions
      </div>
      <div class="panel-body">
        <%= f.check_box :super_admin %> Admin<br/>
        <%= f.check_box :delegate %> Delegate
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Competition permissions
      </div>
      <div class="panel-body">
      </div>
    </div>
  <% end %>

  <%= f.button 'Save', type: 'submit' %>
<% end %>
