<% page_title "Users" %>

<p><%= link_to 'New user', new_admin_user_path %></p>

<table class='default-table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Delegate</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= small_avatar_image(user) %>
          <%= link_to user.name, edit_admin_user_path(user) %>
        </td>
        <td><%= user.email %></td>
        <td><%= user.permission_level %></td>
        <td><%= user.delegate %></td>
        <td class='actions'>
          <%= delete_button([:admin, user], method: :delete, data: { confirm: 'Are you sure?' }) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
