<% page_title @user.name %>

<%= render 'notice' %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.super_admin %>
</p>

<p>
  <strong>Delegate:</strong>
  <%= @user.delegate %>
</p>

<h2>Competitions</h2>

<ul>
  <% @user.competitions.each do |competition| %>
    <li>
      <%= link_to competition.name, admin_competition_dashboard_index_path(competition) %>
      <% if competition.delegate_user_id == @user.id %>
        (Delegate)
      <% end %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to 'Edit', edit_admin_user_path(@user) %>
</p>
