<%= form_for([:admin, competition_for_form(@competition)]) do |f| %>
  <%= render 'form_errors', object: @competition, label: 'competition' %>

  <%= form_section 'General settings' do %>
    <table class="form-table">
      <tr>
        <td><%= f.label :name, 'Name of competition:' %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= f.label :handle, 'URL handle:' %></td>
        <td><%= f.text_field :handle %></td>
      </tr>
    </table>
  <% end %>

  <%= form_section 'Staff settings' do %>
    <table class="form-table">
      <tr>
        <td><%= f.label :staff_name, 'Name of staff team:' %></td>
        <td>
          <%= f.text_field :staff_name %>
          <%= help_tooltip 'This name will appear as the reply-to address of emails sent to competitors' %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :staff_email, 'Email address of staff team:' %></td>
        <td><%= f.text_field :staff_email %></td>
      </tr>
      <tr>
        <td><%= f.label :cc_staff, 'Send copy of all emails to team:' %></td>
        <td>
          <%= f.radio_button :cc_staff, true %>
          <%= f.label :cc_staff, 'yes', value: true, class: 'checkbox' %>
          &nbsp;
          <%= f.radio_button :cc_staff, false %>
          <%= f.label :cc_staff, 'no', value: false, class: 'checkbox' %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :owner, 'Owner / official contact:' %></td>
        <td>
          <%= f.select :owner_user_id, [["", nil]] + @competition.potential_owners.map{ |user| [ user.name, user.id ] } %>
          <%= help_tooltip "This user's address will be shown in the disclaimer section of this competition's theme" %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :delegate, 'Main WCA delegate:' %></td>
        <td>
          <%= f.select :delegate_user_id, [["", nil]] + User.delegates.map{ |user| [ user.name, user.id ] } %>
          <%= help_tooltip 'The delegate will have permissions to log into this competition' %>
        </td>
      </tr>
      <% if @competition.users.size > 0 %>
        <tr>
          <td><label>Staff users:</label></td>
          <td>
            <% @competition.users.each do |user| %>
              <% if current_user.policy.edit_user?(user) %>
                <%= link_to user.name, edit_admin_user_path(user) %>
              <% else %>
                <%= user.name %>
              <% end %>
              <% if user.email.present? %>
                (<%= user.email %>)
              <% end %>
              <br/>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <%= form_section 'Language settings' do %>
    <table class='form-table'>
      <tr>
        <td><label>Available languages:</label></td>
        <td>
          <%= f.fields_for :locales, @competition.locales.to_a.sort_by(&:handle) do |ff| %>
            <%= ff.hidden_field :competition_id %>
            <%= ff.hidden_field :handle %>
            <%= ff.check_box :_destroy, { checked: !ff.object.marked_for_destruction? }, '0', '1' %>
            <%= ff.label :_destroy, ff.object.name, class: 'checkbox' %><br/>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><label>Default language:</label></td>
        <td>
          <% @competition.locales.to_a.sort_by(&:handle).each do |locale| %>
            <%= f.radio_button :default_locale_handle, locale.handle %>
            <%= f.label :default_locale_handle, locale.name, value: locale.handle, class: 'checkbox' %>
            <br/>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>

  <%= form_section 'Date and financial settings' do %>
    <table class='default-table'>
      <thead>
        <tr>
          <th>Date</th>
          <th>Entrance fee for competitors</th>
          <th>Entrance fee for guests</th>
          <th>Events</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id='date-table'>
        <%= f.fields_for :days do |ff| %>
          <tr>
            <td>
              <%=
                ff.date_select("date", {
                  start_year: Date.today.year - 5,
                  end_year: Date.today.year + 5,
                  order: [:month, :day, :year]
                }, {
                  class: 'date-select'
                })
              %>
            </td>
            <td><%= ff.text_field :entrance_fee_competitors, { class: 'small' } %></td>
            <td><%= ff.text_field :entrance_fee_guests, { class: 'small'} %></td>
            <td><%= ff.object.events.count %></td>
            <td class='actions'><%= delete_button({}, { class: 'destroy' }) %></th>
          </tr>
        <% end %>
      </tbody>
    </table>

    <a href="#" id="add_new_day">Add new day</a>

    <script>
      $("#date-table").nestedAttributes({
        bindAddTo: $("#add_new_day"),
        deepClone: false,
        beforeDestroy: function() {
          return confirm("Are you sure?");
        },
        afterAdd: setAllTooltips,
        afterDestroy: hideAllTooltips,
        preserveInputValues: true
      });
    </script>

    </script>
  <% end %>

  <%= form_section 'Location settings' do %>
    <table class="form-table">
      <tr>
        <td><%= f.label :city_name, 'Name of the local city:' %></td>
        <td>
          <%= f.text_field :city_name %>
          <%= help_tooltip 'This will appear on the registration page, such that competitors can let you know that they live in the same city' %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :city_name_short, 'Name of the local city (short):' %></td>
        <td><%= f.text_field :city_name_short %></td>
      </tr>
      <tr>
        <td><%= f.label :venue_address, 'Address of the competition venue:' %></td>
        <td><%= f.text_area :venue_address, rows: '4' %></td>
      </tr>
      <tr>
        <td><%= f.label :country, 'Country of the competition venue:' %></td>
        <td>
          <%= f.select :country_id, Country.all.map{ |country| [ country.name, country.id ] } %>
          <%= help_tooltip 'The country of the venue will also be used as the default registration country' %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :country, 'Currency:' %></td>
        <td>
          <%= f.text_field :currency %>
          <%= help_tooltip 'The currency you will be collecting payments in, for example $, €, £.' %>
        </td>
      </tr>
    </table>
  <% end %>

  <%= form_section 'Registration and publication settings' do %>
    <table class="form-table">
      <tr>
        <td><%= f.label :registration_open, 'Registration status:' %></td>
        <td>
          <%= f.radio_button :registration_open, true %>
          <%= f.label :registration_open, 'open', value: true, class: 'checkbox' %>
          <%= f.radio_button :registration_open, false %>
          <%= f.label :registration_open, 'closed', value: false, class: 'checkbox' %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :registration_open, 'Publication status:' %></td>
        <td>
          <%= f.radio_button :published, true %>
          <%= f.label :published, 'public', value: true, class: 'checkbox' %>
          <%= f.radio_button :published, false %>
          <%= f.label :published, 'private', value: false, class: 'checkbox' %>
          <%= help_tooltip "Setting this to \"public\" will make the competition visible on the frontpage of Cubecomp" %>
        </td>
      </tr>
    </table>
  <% end %>

  <%= f.button 'Save', type: 'submit' %>
<% end %>
