<% page_title "Competitions" %>

<table class='default-table'>
  <thead>
    <tr>
      <th>Handle</th>
      <th>Name</th>
      <th>Country</th>
      <th>Status</th>
      <th>Competitors</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @competitions.each do |competition| %>
      <tr>
        <td><%= competition.handle %></td>
        <td><%= link_to competition.name, edit_admin_competition_path(competition) %></td>
        <td><%= competition.country.name %></td>
        <td><%= competition.registration_open ? 'open' : 'closed' %></td>
        <td><%= competition.competitors.count %></td>
        <td><%= link_to 'Destroy', [:admin, competition], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'New competition', new_admin_competition_path %>
</p>
