<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cubecomp</title>

    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="wrapper">
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= admin_root_path %>">Cubecomp</a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
          <% if (competitions_for_dropdown = current_user.policy.competitions).count > 1 %>
            <li>
              <select onchange="location = this.options[this.selectedIndex].value;">
                <% competitions_for_dropdown.each do |competition| %>
                  <option value="<%= url_for admin_competition_dashboard_index_path(competition.id) %>" <% if competition == current_competition %>selected="selected"<% end %>>
                    <%= competition.name %>
                  </option>
                <% end %>
              </select>
            </li>
          <% end %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-user fa-fw"></i>
              <%= current_user.name %>
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li>
                <a href="<%= edit_admin_user_path(current_user) %>">
                  <i class="fa fa-user fa-fw"></i> Profile
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to '<i class="fa fa-sign-out fa-fw"></i> Logout'.html_safe, admin_logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        </ul>

        <div class="navbar-default sidebar" role="navigation">
          <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
              <% if current_competition %>
                <li <% if regular_user_menu.any?(&:active?) %>class="active"<% end %>>
                  <a href="#">
                    <i class="fa fa-cog fa-fw"></i> Competition<span class="fa arrow"></span>
                  </a>
                  <ul class="nav nav-second-level">
                    <% regular_user_menu.each do |menu_item| %>
                      <%= render 'navigation_item', item: menu_item %>
                    <% end %>
                  </ul>
                </li>
              <% end %>

              <% if current_user.policy.admin_user_menu? %>
                <li <% if admin_user_menu.any?(&:active?) %>class="active"<% end %>>
                  <a href="#">
                    <i class="fa fa-cog fa-fw"></i> Admin<span class="fa arrow"></span>
                  </a>
                  <ul class="nav nav-second-level">
                    <% admin_user_menu.each do |menu_item| %>
                      <%= render 'navigation_item', item: menu_item %>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>

      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header"><%= yield(:page_title) %></h1>
            <%= yield %>
            <br/>
          </div>
        </div>
      </div>
    </div>

    <script>
      $('.with-tooltip').tooltip({
        selector: "[data-toggle=tooltip]",
        container: "body"
      })
    </script>
  </body>
</html>
